{{#with post}}
  <div class='relative bg-light-100 rounded-lg shadow-xl px-5 sm:px-8 py-3'>
    <div class='absolute top-5 right-5'>
      {{#if ../isAuthor}}
      <div class='relative inline-block text-left'>
        <button
          type='button'
          class='peer/menu inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50'
          id='menu-button'
          aria-expanded='false'
          aria-haspopup='true'
        >
          <span class='sr-only'> Post Options Menu</span>
          <i class='fa-solid fa-ellipsis'></i>
        </button>
        <div
          class='hidden peer-aria-expanded/menu:block px-3 transition opacity-0 scale-95 ease-in duration-75 peer-aria-expanded/menu:opacity-100 peer-aria-expanded:duration-100 peer-aria-expanded:ease-out peer-aria-expanded/menu:scale-100 absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none'
          role='menu'
          aria-orientation='vertical'
          aria-labelledby='menu-button'
          tabindex='-1'
        >
          <div class='py-3' role='none'>
            <a
              href='/dashboard/edit-post/{{id}}'
              class='text-white mb-3 rounded-md bg-info-main hover:bg-info-hover block px-4 py-2 text-sm'
              role='menuitem'
              tabindex='-1'
              id='menu-item-2'
            >Edit Post</a>
            <button
              class='bg-danger-main rounded-md hover:bg-danger-hover text-white block w-full px-4 py-2 text-left text-sm'
              role='menuitem'
              tabindex='-1'
              id='delete-post-button'
            >Delete Post</button>
          </div>
        </div>
      </div>
      <dialog class='rounded-md shadow-lg' id='post-delete-dialog'>
        <p>Are you sure you want to delete this Post.
          <br />
          <small class='text-xs text-gray-500'>This action cannot be undone.</small>
        </p>
        <div class='flex justify-end gap-2 mt-5'>
          <button
            class='bg-secondary-main rounded-md hover:bg-secondary-hover text-white block w-full px-4 py-2 text-left text-sm'
            id='cancel-delete-post-button'
          >Cancel</button>
          <button
            id='confirm-delete-post-button'
            data-post-id='{{id}}'
            class='bg-danger-main rounded-md hover:bg-danger-hover text-white block w-full px-4 py-2 text-left text-sm'
          >Delete</button>
        </div>
      </dialog>

      <script src='/js/postPage.js'></script>
      {{/if}}
    </div>
    <h2
      class='text-2xl sm:text-4xl mb-5 font-medium text-secondary-disabled'
    >{{title}}<br />
      <p class='text-sm text-secondary-main'><i
          class='text-info-main fa-solid fa-calendar-day'
        ></i>
        {{format_date createdAt}}</p>
    </h2>
    <div class='flex justify-between'>

      <div class='flex items-center gap-5'>
        <a
          class='rounded-full overflow-clip hover:ring-2 hover:ring-primary-main transition-all duration-150 ease-in-out group-first-of-type:ring-info-main'
          href='/users/{{user.username}}'
        >
          <img
            class='w-9 h-9'
            alt="{{user.username}}\'s Avatar"
            src='{{user.avatar}}'
          />
        </a>
        <div class='flex flex-col'>
          <a
            href='/users/{{user.username}}'
            class='text-sm font-bold text-secondary-disabled hover:text-secondary-hover hover:underline'
          >{{user.first_name}} {{user.last_name}}</a>
          <small class='text-xs text-info-main font-medium'><i
              class='fa-solid fa-at'
            ></i>{{user.username}}</small>
        </div>
      </div>
      <div class='flex gap-8 items-center'>

        <button
          onclick='likePost({{id}})'
          data-post-likes='{{likes}}'
          data-post-id='{{id}}'
          class='flex justify-center items-center w-6 h-6 rounded-full text-secondary-main hover:text-secondary-hover hover:drop-shadow-sm'
        >
          <small>{{likes}}</small>
          <i class='fa-regular fa-thumbs-up -translate-y-[1px]'></i>
        </button>
        <button
          onclick='dislikePost({{id}})'
          data-post-dislikes='{{dislikes}}'
          data-post-id='{{id}}'
          class='flex justify-center items-center w-6 h-6 rounded-full text-secondary-main hover:text-secondary-hover hover:drop-shadow-sm'
        >
          <small>{{dislikes}}</small>
          <i class='fa-regular fa-thumbs-down translate-y-[1px]'></i>
        </button>
      </div>
    </div>

    <p
      class='font-sans text-base sm:text-lg mb-5 font-medium text-gray-700 indent-6'
    >{{body}}</p>
    <script src='/js/postLikes.js'></script>
  </div>
  <section>
    <h3
      class='text-2xl sm:text-4xl mb-5 font-medium text-secondary-disabled'
    >Comments</h3>
    <div class='flex flex-col gap-5'>
      {{#if ../loggedIn}}
      <form id='comment-form' class='mb-0'>
        <div class='flex gap-5'>
          <input class="sr-only" id="user_id" name="user_id" value="{{../user.id}}" />
          <input class='sr-only' id='post_id' name='post_id' value='{{id}}' />
          <div class='flex flex-1 flex-col'>
            <label
              for='comment'
              class='sr-only text-sm text-secondary-main'
            >Comment</label>
            <input
              id='comment'
              name='body'
              class='rounded-full border py-2 px-4 bg-secondary-main/10 border-secondary-main focus:border-primary-main focus:ring-2 focus:ring-primary-main transition-all duration-150 ease-in-out'
              placeholder='Write your comment here...'
            />
          </div>
          <div class='flex justify-end'>
            <button
              type='submit'
              class='bg-primary-main rounded-full hover:bg-primary-hover text-white block w-full px-4 py-2 text-left text-base'
            >Comment</button>
          </div>
        </div>
      </form>
      {{else}}
      <div class='flex gap-5'>
        <span
          class='flex-1 rounded-full font-semibold text-lg text-danger-main/80 border py-2 px-4 bg-danger-main/10 border-danger-main focus:border-danger-main focus:ring-2 focus:ring-danger-main transition-all duration-150 ease-in-out'
        >Sorry, Must Be logged in to Comment on posts</span>
        <span
          class='bg-primary-main rounded-full hover:bg-primary-hover block text-white px-4 py-2 text-left text-lg'
        >Comment</span>
      </div>
      {{/if}}
    </div>
    <hr class='my-5 border-secondary-disabled' />
    <script src='/js/commentForm.js'></script>
    {{#each comments}}
      <div class='flex gap-5 px-8'>
        <a
          class='rounded-full overflow-clip hover:ring-2 hover:ring-primary-main transition-all duration-150 ease-in-out group-first-of-type:ring-info-main'
          href='/users/{{user.username}}'
        >
          <img
            class='w-9 h-9'
            alt="{{user.username}}\'s Avatar"
            src='{{user.avatar}}'
          />
        </a>
        <div class='flex flex-col'>
          <a
            href='/users/{{user.username}}'
            class='text-sm font-bold text-secondary-disabled hover:text-secondary-hover hover:underline'
          >{{user.first_name}} {{user.last_name}}</a>
          <small class='text-xs text-info-main font-medium'><i
              class='fa-solid fa-at'
            ></i>{{user.username}}</small>
        </div>
        <div>
          <p class='text-sm text-secondary-main'><i
              class='text-info-main fa-solid fa-calendar-day'
            ></i>
            {{format_date createdAt}}</p>
        </div>
      </div>
      <p
        class='font-sans text-base sm:text-lg mb-5 font-medium text-gray-700 indent-6'
      >{{body}}</p>
      <hr class='border-gray-300' />
    {{/each}}
  </section>
{{/with}}